# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Cextensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-package.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Environment variables
.env
.venv
env/
venv/
ENV/

# OS Specific
.DS_Store
Thumbs.db

# Explicitly KEEP data, models, and metrics directories & artifacts
!data/
!data/*
!models/
!models/*
!metrics/
!metrics/*
